{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "iOS >= 7",
            "Android >= 4.4"
          ]
        },
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
