import React, { useState } from 'react';
import { connect } from 'react-redux';
import { syncAction } from '../model/action';
import <% if (!cssm){ -%>styles from <% } -%>'./demo.scss';

function Demo(props) {
  const { appState, dispatch } = props;
  const [data, setData] = useState(appState.data);

  const onClick = () => {
    setData(`You click me! ${Math.random()}`);
    dispatch(syncAction(`You click me! ${Math.random()}`));
  };

  return (
    <div <% if (cssm){ %>styleName="hello"<% } else { %>className={styles.hello}<% } %>>
      Hello React!
      <div>{data}</div>
      <button type="button" onClick={onClick}> click me!</button>
    </div>
  );
}

function mapStateToProps(state) {
  return {
    appState: state.appState,
  };
}

export default connect(mapStateToProps)(Demo);


